h2 {
  margin: 7rem;
  font-size: 3rem;
}
.weather-meta {
  font-size: 2rem;
}
a {
  text-decoration: none;
  color: burlywood;
}
a:hover {
  color: red;
}
span {
  color: cyan;
}
span:hover {
  color: #008b8b;
}
img {
  width: 5rem;
}

footer {
  margin: 3rem auto;
  font-size: 2rem;
  font-weight: 700;
}